
<div class="row banner floatLeft">
  <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
    <div class="banner-card1">
      <div class="banner-card3 d-flex justify-content-between flex-column">
        <div class="banner-head">Grade hand-written exams instantly</div>
        <div class="banner-text space">
          <ol content class="text-left">
            <li>Save the correct answers of your test</li>
            <li>Analyse students answers automatically</li>
            <li>Download graded students tests</li>
          </ol>
        </div>
        <div class="mb-5">
          <%= simple_form_for(@exam) do |f| %>
            <%= f.input :image, input_html: { class: 'text-white btn-banner btn btn-primary hide', id: 'upload' }, label: false  %>
            <%= f.input :image_cache, as: :hidden %>
            <%= f.submit "Upload an exam", class: " btn btn-upload btn-banner px-3 py-2", id: "submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 d-flex align-items-end">
    <%= image_tag "printer.jpg", class: "hide-in-mobile" %>
  </div>
</div>

