<div class="col-12 px-0">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1519032465794-2da0ceef0b63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
    <div class="container">
      <%= image_tag "logo.png", class: "rounded-circle circle"%>
      <h1> <strong>AutoTest</strong></h1> <br><h2><strong>Grade Papers Instantly</strong></h2>
      <%= simple_form_for(@exam) do |f| %>
        <%= f.input :image ,input_html: { class: 'text-white banner-btn btn btn-primary hide', id: 'upload' }  %>
        <%= f.input :image_cache, as: :hidden %>
        <%= f.submit "Upload an exam", class: "banner-btn btn btn-primary mt-1", id: "submit" %>
      <% end %>
    </div>
  </div>
</div>
<div class="wrapper mx-3">
  <div class="cards d-flex justify-content-around">
  <div class="card">
    <h1>Step 1</h1>
    <i class="fas fa-file-signature"></i>
    <p style="text-align: center">Upload your answer sheet with correct answers</p>
  </div>

  <div class="card">
    <h1>Step 2</h1>
    <i class="fas fa-file-upload"></i>
    <p style="text-align: center">Upload your students answer sheets</p>
  </div>

  <div class="card">
    <h1>Step 3</h1>
    <i class="fas fa-file-download"></i>
    <p style="text-align: center">Print/download</p>
  </div>
</div>
</div>
