<div class="d-flex justify-content-between">
  <%= link_to exam_path(@exam), class: "btn btn-primary mt-5" do%>
    <i class="fas fa-arrow-left px-3"></i>
  <% end %>
  <%= link_to  submissions_pdf_path(@exam), class: "btn mt-4 btn-download" do %>
    <i class="fas fa-cloud-download-alt px-4"></i>
  <% end %>
</div>
<div class="container shadow back-color">.
  <div class="d-flex justify-content-between">
    <h4>Exam id: <%= @exam.id %></h4>
    <h4>Total submissions: <%= @submissions.count %></h4>
    <%= link_to 'View all incorrect answers', exam_answers_path, class:'btn btn-primary mb-3' %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Question id</th>
        <th>Correct Answer</th>
        <th># of total answers</th>
        <th># of correct answers</th>
        <th># of incorrect answers</th>
      </tr>
    </thead>
    <% @exam.questions.each do |question| %>
      <tr>
        <td>
          <%= link_to question_path(question) do %>
            <%= question.id %>
          <% end %>
        </td>
        <td><%= question.correct_answer %></td>
        <td><%= question.answers.count %></td>
        <td><%= question.answers.where(is_correct: true).count %></td>
        <td><%= question.answers.where(is_correct: false).count %></td>
      </tr>
    <% end %>
  </table>
</div>


