<div class="conrainer">
  <h2>Exam id: <%= @exam.id %></h2>
  <% @submissions.each do |submission| %>
      <%= link_to submission_path(submission) do %>
        <%= submission.id %>
        <%= cl_image_tag submission.image, height: 300, width: 200, crop: :fill, class:'m-3' %>
      <% end %>
  <% end %>

  <%= link_to "Back to exam", exam_path(@exam), class: "btn btn-primary" %>
</div>




