<%= link_to exam_path(@exam), class: "btn btn-flat mt-5 position-fixed" do%>
  <i class="fas fa-arrow-left px-3"></i>
<% end %>
<div class="container shadow back-color my-5 py-4 px-5",style="margin-top:20px;">
  <div class="row">
    <div class="col-5 m-3 pl-5">
      <div class="d-flex justify-content-between align-items-end">
        <div>Exam date: </div>
        <div><span style="font-size: 28px; font-weight:bold;"><%= @exam.created_at.strftime("%Y/%m/%d") %></span></div>
      </div>
      <div class="my-3 d-flex justify-content-between align-items-end">
        <div>Average Score: </div>
        <div><span style="font-size: 28px; font-weight:bold;"><%= @exam.average_score %></span> / <%= @exam.questions.count %></div>
      </div>
      <div class="mt-3 d-flex justify-content-between align-items-end">
        <div>Highest Score: </div>
        <div><span style="font-size: 28px; font-weight:bold;"><%= @exam.highest_score %></span> / <%= @exam.questions.count %></div>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-5 m-3 pl-5">
      <div class="d-flex justify-content-between align-items-end">
        <div>Total submissions: </div>
        <div><span style="font-size: 28px; font-weight:bold;"><%= @submissions.count %></span></div>
      </div>
      <div class="my-3 d-flex justify-content-between align-items-end">
        <div>Average %: </div>
        <div><span style="font-size: 28px; font-weight:bold;"><%= @exam.average_percentage %></span> %</div>
      </div>
      <div class="mt-3 d-flex justify-content-between align-items-end">
        <div>Lowest Score: </div>
        <div><span style="font-size: 28px; font-weight:bold;"><%= @exam.lowest_score %></span> / <%= @exam.questions.count %></div>
      </div>
    </div>
  </div>
  <div>
    <div class="d-flex justify-content-around mb-4">
      <%= link_to exam_answers_path, class:'btn btn-block btn-upload m-3' do %>
       <i class="fas fa-search"></i> See All Incorrect Answers
      <% end %>
      <%= link_to submissions_pdf_path(@exam), class: "btn btn-upload m-3" do %>
        <i class="fas fa-cloud-download-alt px-4"></i>
      <% end %>
    </div>
  </div>
  <table class="table text-center">
    <thead>
      <tr class="row">
        <th class="col-4">Student #</th>
        <th class="col-4">Total Score</th>
        <th class="col-4">Average</th>
      </tr>
    </thead>
    <% @submissions.each do |submission| %>
      <tr class="row">
        <td class="col-4">
          <%= link_to submission_path(submission) do %>
            <%= submission.id - @exam.submissions.order(:id).first.id + 1 %>
          <% end %>
        </td>
        <td class="col-4"><span style="font-size: 28px; font-weight:bold;"><%= submission.score %></span> / <%= submission.answers.count %></td>
        <td class="col-4"><span style="font-size: 28px; font-weight:bold;"><%= (submission.score.to_f / submission.answers.count * 100).floor %></span> %</td>
      </tr>
    <% end %>
  </table>
</div>


