<%= link_to exam_path(@exam), class: "btn btn-primary mt-4" do%>
  <i class="fas fa-arrow-left px-3"></i>
<% end %>
<div class="container">
  <h2>Exam id: <%= @exam.id %>, Total submissions: <%= @submissions.count %></h2>
  <table class="table">
    <thead>
      <tr>
        <th>Question #</th>
        <th>Correct Answer</th>
        <th># of total answers</th>
        <th># of correct answers</th>
        <th># of incorrect answers</th>
      </tr>
    </thead>
    <% @exam.questions.each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.correct_answer %></td>
        <td><%= question.answers.count %></td>
        <td><%= question.answers.where(is_correct: true).count %></td>
        <td><%= question.answers.where(is_correct: false).count %></td>
      </tr>
    <% end %>
  </table>
  <% @submissions.each do |submission| %>
      <%= link_to submission_path(submission) do %>
        <p> Submission id: <%= submission.id %>, Number of answers: <%= submission.answers.count %></p>
      <% end %>
  <% end %>
</div>




