<%= link_to exam_submissions_path(@submission.exam), class: "btn btn-flat mt-4 mr-1 position-fixed" do%>
  <i class="fas fa-arrow-left px-3"></i>
<% end %>
<div class="container shadow back-color my-4 pt-4 pb-5 px-5  rounded">
  <div class="row">
    <div class="col-12">
      <h3 class='mb-3'>Submission id: <%= params[:id] %> </h3>
      <p style="font-size: 24px;">Score: <%= @score %></p>
      <% if @answers == [] %>
        <%= link_to 'Analyze the answers', new_submission_answer_path(@submission) %>
      <% else %>
        <table class="table">
          <thead>
            <tr>
              <th>Question #</th>
              <th>Correct Answer</th>
              <th>Correct?</th>
              <th>Student Answer</th>
              <th></th>
            </tr>
          </thead>
          <% @answers.each do |answer| %>
            <% if answer.is_correct %>
              <tr>
            <% else %>
              <tr class="table-warning">
            <% end %>
              <% first_question_id = @submission.exam.questions.first.id %>
              <td><%= link_to answer.question_id - first_question_id + 1, question_path(answer.question) %></td>
              <td><%= answer.question.correct_answer %></td>
              <%= simple_form_for answer, html: { class: 'form-inline' } do |f| %>
                <td><%= f.input :is_correct, label: false %></td>
                <td><%= f.input :content, label:false %>
                <%= f.submit 'Update' %></td>
              <% end %>
              <% url = "https://res.cloudinary.com/naokimi/image/upload/x_#{answer.question.origin_x.to_i},y_#{answer.question.origin_y.to_i},w_#{answer.question.width.to_i},h_#{answer.question.height.to_i},c_crop/#{@submission.image.filename}" %>
              <td>
                <div class="bg-white rounded shadow">
                  <%= image_tag url, style: "width:100%; height: auto;" %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
    <button class="btn-lg btn-warning" style="position: fixed; bottom: 24px; width: 60%; left: 20%; opacity: 0.7;">Update</button>
  </div>
</div>

