<%= link_to exam_submissions_path(@submission.exam), class: "btn btn-flat mt-5 mr-1 position-fixed" do%>
  <i class="fas fa-arrow-left px-3"></i>
<% end %>
<div class="container shadow back-color my-5 pt-4 pb-5 px-5  rounded">
  <div class="row">
    <div class="col-12">
      <h2>Click each answer to mark as correct <i class="fas fa-check"></i></h2>
      <p class='my-3'>Submission #: <%= params[:id] %> </p>
      <p >Score: <span style="font-size: 28px; font-weight:bold;"> <%= @score %></span>/ <%= @submission.exam.questions.count %></p>
      <% if @answers == [] %>
        <%= link_to 'Analyze the answers', submission_answers_path(@submission), method: :post %>
      <% else %>
        <table class="table">
          <thead>
            <tr>
              <th>Question #</th>
              <th>Correct Answer</th>
              <th class="text-center py-3">Student Answer</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @answers.each do |answer| %>
              <tr class="<%= 'table-warning' unless answer.is_correct %>">
                <% first_question_id = @submission.exam.questions.first.id %>
                <td><%= link_to answer.question_id - first_question_id + 1, question_path(answer.question) %></td>
                <td class="correct-answer p-3"><%= answer.question.correct_answer %></td>
                <td>
                  <%= simple_form_for answer, remote: true, html: { class: 'form-inline' } do |f| %>
                    <%= f.input :is_correct, label: false, class:'is-correct', wrapper_html: { class: 'hide' }   %>
                    <%= f.input :content, label:false %>
                    <%= f.submit 'Update', style: "display:none;" %>
                  <% end %>
                </td>
                <td>
                  <div class="bg-white rounded shadow">
                    <% url = "https://res.cloudinary.com/naokimi/image/upload/x_#{answer.question.origin_x.to_i},y_#{answer.question.origin_y.to_i},w_#{answer.question.width.to_i},h_#{answer.question.height.to_i},c_crop/#{@submission.image.filename}" %>
                    <%= image_tag url, style: "width:100%; height: auto;" %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <button  class="progress-btn-lg btn-primary" id="myProgress" style="position: fixed; bottom: 16px; width: 60%; left: 20%; color: white; padding: 16px;">Update
<!--       <div id="myBar" style="margin-left: 5px;" ></div> -->
    </button>
  </div>
</div>

<script>
  // find all trs with answers
  const answers = document.querySelectorAll('tbody tr');
  // iterate each answer
  answers.forEach((answer) => {
    const checkbox = answer.querySelector('.form-check-input');
    const inputbox = answer.querySelector('#answer_content');
    const studentAnswer = answer.querySelector('#answer_content').value;
    const correctAnswer = answer.querySelector('.correct-answer').innerText;
    //find student answer and store
    //add event listner for checkbox, update value when checked
    answer.addEventListener('click', (event) => {
      if (checkbox.checked === false) {
        inputbox.value = correctAnswer;
        checkbox.checked= true;
        answer.classList = "corrected";
      } else {
        inputbox.value = studentAnswer;
        checkbox.checked= false;
        answer.classList = "table-warning corrected";
      };
    });
  });
</script>
