<%= link_to exam_submissions_path(@submission.exam), class: "btn btn-primary mt-4 mr-1" do%>
  <i class="fas fa-arrow-left px-3"></i>
<% end %>
<div class="container shadow back-color">
  <div class="row">
    <div class="col-12">
      <h2>Submission id: <%= params[:id] %></h2>
      <% if @answers == [] %>
        <%= link_to 'Analyze the answers', new_submission_answer_path(@submission) %>
      <% else %>
        <table class="table">
          <thead>
            <tr>
              <th>Question #</th>
              <th>Correct Answer</th>
              <th>Student Answer</th>
              <th></th>
            </tr>
          </thead>
          <% @answers.each do |answer| %>
            <% if answer.is_correct %>
              <tr>
            <% else %>
              <tr class="table-warning">
            <% end %>
              <td><%= link_to answer.question_id, question_path(answer.question) %></td>
              <td><%= answer.question.correct_answer %></td>
              <td>
                <%= simple_form_for answer, html: { class: 'form-inline' } do |f| %>
                  <%= f.input :is_correct, label: false %>
                  <%= f.input :content, label:false %>
                  <%= f.submit 'Update', class:'btn btn-info' %>
                <% end %>
              </td>
              <% url = "https://res.cloudinary.com/naokimi/image/upload/x_#{answer.question.origin_x.to_i},y_#{answer.question.origin_y.to_i},w_#{answer.question.width.to_i},h_#{answer.question.height.to_i},c_crop/#{@submission.image.filename}" %>
              <td><%= image_tag(url) %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>

