<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col-12">
      <h4>Please select the answer area</h4>
      <p id='area' data-area="" data-canvas="<%= @exam.image.url %>" style="visibility:hidden;">
      <%= simple_form_for([ @exam ]) do |form| %>
      <%= form.input :origin_x, :as => :hidden %>
      <%= form.input :origin_y, :as => :hidden %>
      <%= form.input :width, :as => :hidden %>
      <%= form.input :height, :as => :hidden %>
      <%= form.submit 'Save', class: 'btn btn-primary position-fixed mt-5' %>
      <% end %></p>
    </div>
  </div>
  <div class="row">
      <canvas id="canvas" width="1200" height="1700">
      </canvas>
  </div>
</div>
