<div id="stepper1" class="bs-stepper row d-flex justify-content-around my-3">
  <div class="bs-stepper-header position-fixed ml-5" role="tablist">
    <!-- your steps here -->
    <div class="step" data-target="#answer-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="stepper1">
        <span class="bs-stepper-circle">1</span>
        <span class="bs-stepper-label">Please select the answer area
        </span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step mr-5 pr-5" data-target="#score-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
        <span class="bs-stepper-circle">2</span>
        <span class="bs-stepper-label">Please select the score area
        </span>
      </button>
    </div>
  </div>

  <div class="bs-stepper-content">
    <!-- your steps content here -->
    <div id="answer-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
      <div class="row">
        <canvas id="canvas" width="1200" height="1700">
        </canvas>
        <div class="form-group">
          <button id="next" class="btn btn-lg btn-upload position-fixed mt-5 hide">Save the Answer area</button>
        </div>
      </div>
    </div>
    <div id="score-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
    <div class="row">
      <div class="col-12">
           <%= simple_form_for([ @exam ]) do |form| %>
            <%= form.input :origin_x, :as => :hidden %>
            <%= form.input :origin_y, :as => :hidden %>
            <%= form.input :width, :as => :hidden %>
            <%= form.input :height, :as => :hidden %>
            <%= form.input :score_origin_x, :as => :hidden %>
            <%= form.input :score_origin_y, :as => :hidden %>
            <%= form.input :score_width, :as => :hidden %>
            <%= form.input :score_height, :as => :hidden %>
            <%= form.submit 'Save the Score area', id:"save", class: 'btn btn-lg btn-upload position-fixed mt-5 hide' %>
            <% end %>
      </div>
    </div>
            <p id='area' data-area="" data-canvas="<%= @exam.image.url %>" style="visibility:hidden;"></p>
              <p id='area2' data-area="" data-canvas="<%= @exam.image.url %>" style="visibility:hidden;">
           </p>

        <canvas id="canvas2" width="1200" height="1700">
        </canvas>
    </div>
    </div>
  </div>
</div>

