<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-end">
    <div class="">
      <h1 style="margin-bottom: 20px;">My Exams</h1>
    </div>
    <div class="">
      <%= simple_form_for(@exam) do |f| %>
        <%= f.input :image, input_html: { id: 'upload' },  label_html: { class: 'custom-file-upload btn btn-upload  px-3 py-2' }, label: "Upload students' sheets", required: false  %>
        <%= f.input :image_cache, as: :hidden %>
        <%= f.submit "Upload", as: :hidden, id: "submit", style: "display:none;" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container text-center mt-4">
  <div class="student-exams  justify-content-around">
      <% @exams.each do |exam| %>
      <div class="col-12 mb-3">
        <%= link_to cl_image_tag(exam.image, height: 340, width: 300, crop: :fill, class: "link-img"), exam_path(exam) %>
      </div>
      <% end %>
    </div>
