<%= link_to exams_path, class: "btn btn-primary mt-5 position-fixed" do%>
  <i class="fas fa-arrow-left px-3"></i>
<% end %>

<div class="container mt-5">
  <div class="row">
    <div class="shadow bg-white mr-5 mt-2 p-4 rounded">
      <div class="px-4">
        <h4>Exam id: <%= @exam.id %></h4>
        <p># of Submissions: <%= link_to @exam.submissions.count, exam_submissions_path(@exam)  %></p>
      </div>
      <div class="col-6">
        <%= cl_image_tag @exam.image, width: 400, crop: :fill %>
      </div>
    </div>
    <div class="col-4 card bg-white mt-2" >
      <div class="row ">
        <div class="col-12 my-1">
          <%= render 'shared/upload', exam: @exam, submission: Submission.new %>
        </div>
        <div class="col-12 my-5 d-flex justify-content-between">
          <%= link_to "Delete this exam", exam_path(@exam), method: "delete", class: "btn btn-delete" %>
          <% css_class = @exam.submissions.empty? ? "d-none" : "" %>
          <%= link_to "Submissions", exam_submissions_path(@exam), class: "btn btn-submission #{css_class}" %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
