<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Autotest</title>
    <link rel="icon" href="/assets/logo-7b9c93e19ce75d746f44e9699a5936498af2cc918c7a38a34b7a470354f14af4.png" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="d-flex justify-content-between flex-column">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <div class="mt-5">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
